name: Deploy
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get the version
        id: tag
        run: echo ::set-output name=tag::$(echo $GITHUB_REF | cut -d / -f 3 | cut -c 2-)
      - name: Build
        run: make build
      - name: Package
        run: zip -r ./dist/ddns.zip ./bin
      - name: default deploy
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: eu-west-2
          function_name: ddns
          zip_file: dist/ddns.zip
          memory_size: 128
          timeout: 10
          handler: main
          runtime: go1.x